@import url("https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
  background-color: silver /*rgb(210,180,140)*/;
}

}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
}
strong {
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

p {
	 font-family: 'Roboto', sans-serif;
	color: black;
	text-align: right;
   font-weight: lighter;
}

h2{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: black;
    font-size: 25px;
}

.paragraph{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-align: justify;
}


